<%- include('header') %>
    <div class="container">
    <!-- title brought in from the route /-->
        <h1><%= title %></h1>
        <a href="/profile">Profile</a>
    </div>
    <br><a href="/transfer">Transfer</a>
<%- include('footer') %>