<% } %>
  <span class="error"></span>

  <form id="transferForm">
  <form id="transferForm" action='/transfer' method='post'>
    <span>Transfer From: </span> 
    <select required>
    <select required name='from' id='from'>
      <option value="checking">Checking</option>
      <option value="savings">Savings</option>
    </select>
    <span> to: </span>
    <select required>
    <select required name='to' id='to'>
      <option value="checking">Checking</option>
      <option value="savings">Savings</option>
    </select>
